/*Apllies to all of them*/

h1, h2 {
  color: rgb(53, 172, 126);
  font-size: 25px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navtitle {
  color: rgb(43, 109, 41);
  font-size: 30px;
  font-family: 'Pangolin', cursive;
}

a:hover {
  color: rgb(43, 109, 41)
}

.indextitle {
  font-size: 40px;
  font-family: 'Averia Libre';
}

/* This styles apply to my Index page */

#homeimg {
  width: 62%;
  border-radius: 25px;
  border: 5px solid #73AD21;
  padding: 20px;
  height: 50%
}

p {
  font-size: 15px;
}

/* This styles apply to my Login page */

.Signin {
  margin-top: 10%;
  padding: 2%;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(127, 197, 197);
  box-shadow: 10px 10px 5px grey;
}

/* This styles apply to my Information page*/

.Itinerary {
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(61, 114, 163);
  padding: 12px 20px;
}

.cards {
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: lightseagreen;
}

th {
  color: rgb(56, 146, 56)
}

/*Apllies to About page*/

.row {
  padding: 5%;
  text-align: justify;
  width: 100%;
}

.lead {
  font-size: 30px
}

/*Apllies to all of them*/

h1, h2 {
  color: rgb(53, 172, 126);
  font-size: 25px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navtitle {
  color: rgb(43, 109, 41);
  font-size: 30px
}

/* This styles apply to my Information page*/

.cards {
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: lightseagreen;
}

th {
  color: rgb(56, 146, 56)
}

.infotitle {
  font-size: 30px;
  font-family: 'Averia Libre', cursive;
}

/*Apllies to About page*/

.row {
  padding: 5%;
  text-align: justify;
  width: 100%;
}

.img1 {
  border-radius: 15%
}

/*Footer*/

.footer {
  margin-top: 30px;
  font-size: 11px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* Media for extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .navtitle {
    font-size: 20px
  }
  .indextitle {
    font-size: 30px
  }
  #homeimg {
    width: 80%
  }
  h2, p {
    font-size: 12px
  }
  footer {
    margin-top: 30%;
    padding: 4%;
  }
  .img1 {
  display: none
  }
  .img2 {
    display: none
  }
  .aboutlog {
    font-size: 80%
  }
  .Signin {
    width: 80%;
    margin-left: 10%
  }
}

@media only screen and (max-width: 1024px) { 
  .img1 { width: 90%
  }
}