/* This styles apply to my Index page */

#homeimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 25px;
  border: 5px solid #73AD21;
  padding: 20px;
  height: 50%
}

#title {
  text-align-last: center;
}

.img1 {
  border-radius: 10%
}

.display-4 {
  font-weight: bold;
  color: rgb(28, 59, 28);
  font-size: 65px;
  font-family: Helvetica
}

/* This styles apply to my Login page */

#account {
  text-align: center
}

#hr {
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 3%;
  border-width: 3px;
}

.Signin {
  margin-top: 30%;
  padding: 5%;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(127, 197, 197);
  box-shadow: 10px 10px 5px grey;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
}

/* This styles apply to my Information page*/

.Itinerary {
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(61, 114, 163);
  padding: 12px 20px;
}

.cards {
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: lightseagreen;
}

th{ color:rgb(56, 146, 56)}

/*Apllies to About page*/ 
.row {
  padding: 5%;
  text-align: justify;
  width: 100%;
}

.lead {
  font-size: 30px
}


/*Apllies to all of them*/ 
h1,h2 {
  color:rgb(53, 172, 126);
  font-size: 25px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif }

 .navtitle{ color: rgb(43, 109, 41);
font-size: 30px  
}


